<!DOCTYPE html>
<html>
      <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
      </head>
  <body>
        <table>
                <tr>
                <td>
                    Name: <%= @user[:first_name]%> <%= @user[:last_name] %>
                </td>
                </tr>
                <tr>
                <td>
                    Email: <%= @user[:email] %>
                </td>
                </tr>
                <tr>
                <td>
                    Mobilenumber: <%= @user[:mobilenumber] %>
                </td>
                </tr> 
                <tr>
                <td>
                    Comment: <%= @user[:comments] %>
                </td>
                </tr>
            
        </table>
  </body>
</html>