

<%= link_to 'new', new_todo_path, {:class => "pull-right", :style => "margin-right:400px"} %>
  <% if @todos.present? %>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#All_tab" data-toggle="tab">All</a></li>
            <li><a href="#completed_tab" data-toggle="tab">Completed</a></li>
            <li><a href="#Not_completed_tab" data-toggle="tab">Notcompleted</a></li>
            <li><a href="#In_progress_tab" data-toggle="tab">InProgress</a></li>
          </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="All_tab"> 
          <%= render :partial => "table", :locals => {:todos => @todos} %>
        </div>
        <div class="tab-pane" id="completed_tab">
          <%= render :partial => "table", :locals => {:todos => @todos.select{ |todo| todo.status == "Completed" }} %>
        </div>
        <div class="tab-pane" id="Not_completed_tab">
          <%= render :partial => "table", :locals => {:todos =>@todos.select{ |todo| todo.status == "Notcompleted" }} %>    
        </div>
        <div class="tab-pane" id="In_progress_tab">
          <%= render :partial => "table", :locals => {:todos =>@todos.select{ |todo| todo.status == "InProgress" }} %>
        </div>
        </div>
        </div>
    
<% end %>
