<div style="width: 500px">
<table border="0" cellpadding="20px">
  <tr>
        <td> NAME</td>
        <td><%= @todo.name %></td>
  </tr>
  <tr>
        <td> DESCRIPTION</td>
        <td><%= @todo.description %></td>
  </tr>
  <tr>
        <td> TARGETDATE</td>
        <td><%= @todo.target_date %></td>
  </tr>
  <tr>
        <td> Status</td>
        <td><%= @todo.status %></td>
  </tr>
</table>
</div>
<p class ="btn", style = "margin-left:500px">

<%= link_to 'edit', edit_todo_path(@todo.id) %> 
</p>
<p class ="btn", style = "margin-right:500px">
<%= link_to 'back', root_path %> 
</p>
 
      
   
